<div class="row">
    <div class="col-sm-8">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/BHGahCzT4Fw"></a>
        <p>YouTube: OpenADx - Leveraging open collaboration &amp; OS to accelerate Autonomous Driving dev</p>
    </div>
    <div class="col-sm-8">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/UyxdE-olbHE"></a>
        <p>YouTube: OpenADx “Autonomous Driving Simulation” Testbed – hardware in the loop (sponsored by Renesas)</p>
    </div>
    <div class="col-sm-8">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/GBF1vtbP4O0"></a>
        <p>YouTube: ScaleUp 360° Automotive AI: Autonomous Driving and Open Source: Does it fit?, Robert Bosch GmbH</p>
    </div>
    <div class="col-sm-8">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/7gHLkSzWNKA"></a>
        <p>YouTube: Introduction to autonomous driving accelerator OpenADx</p>
    </div>
    <div class="col-sm-8">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/j8-aNb-es4g"></a>
        <p>YouTube: EclipseCon 2020: Autonomous Driving and Open Source - Is this a good idea?</p>
    </div>
    <div class="col-sm-8">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/Ttc2tChHKC0"></a>
        <p>YouTube: Timing Analysis of Car-to-Car Communication Systems Using Real-Time Calculus: A Case Study</p>
    </div>
    <div class="col-sm-8">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/qewKyey-xwg"></a>
        <p>YouTube: FOSDEM 2020: Introduction to Eclipse iceoryx - Writing a safe IPC framework for autonomous robots and cars</p>
    </div>
    <div class="col-sm-8">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/giLPYIRBQkw"></a>
        <p>YouTube: Introducing Eclipse iceoryx Almond (v1.0.0) | vECM</p>
    </div>
    <div class="col-sm-8">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/lbW1yzQdJzc"></a>
        <p>YouTube: ofe powered by Crowdcast: Digitising European Industry: Open Source Driving the Automotive Sector</p>
    </div>
    <div class="col-sm-8">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/1vpO09-v9Kk"></a>
        <p>YouTube: Mobility of the Future and Open Collaboration – A good Idea? presented at SAAM Mobility 2021</p>
    </div>
    <div class="col-sm-8">
        <a class="eclipsefdn-video" href="//www.youtube.com/embed/fWqqVkSB-1c"></a>
        <p>YouTube: #bfoss2021 - 7. Bitkom Forum Open Source | Themenschwerpunkt "Erfahrungsberichte" (German only)“</p>
    </div>
    <div class="col-sm-8">
        <a class="eclipsefdn-video" href="//opensourcepodcast.podigee.io/3-andi-aus-the-land"></a>
        <p>PodCast: Open Source in der Industrie - Ändi aus the Länd (German only)“</p>
    </div>
</div>